*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --green: rgb(19, 34, 37);
    --yellow: rgb(106, 93, 49);
    --gray: #1c1f22;
    --purple: rgb(56, 52, 113);
    --text: rgba(255, 255, 255, .8);
    --text-lighter: rgba(255, 255, 255, .9);
    --nav-bar-color1: black;
    --nav-bar-color2: rgb(56, 52, 113);
    --nav-bar-border: rgb(106, 93, 49);
    --box-transparency: rgba(255,255,255,.2);
    --button-color1: rgb(19, 60, 37);
    --button-color2: rgb(28 ,40, 34);
    --link-color1: #1c1f22;
    --link-color2: #121212;
    --link-highlight: rgb(0,191,255);
    --login-btn-bg: rgb(14, 56, 107);
    --login-btn-border: rgb(32, 181, 252);
    --build-border: rgb(80, 72, 38);
    --build-bg: rgb(19, 34, 37);
    --build-item-border: rgb(106, 93, 49);
    --build-item-bg: black;
    --runes-bg: rgb(10, 25, 25);
    --runes-border: black;
}

html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: #1c1f22 linear-gradient(to bottom, black 0, #1c1f22 200px) no-repeat;
    color: var(--text);
    min-height: 200px;
    scroll-behavior: smooth;
    scroll-padding-top: 6vh;
}
main {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
main header {
    min-height: 15vh;
    text-align: center;

}

nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, var(--nav-bar-color1) 60%, var(--nav-bar-color2) 100%);
    position: fixed;
    width: 100%;
    min-height: 6vh;
    font-family: "poppins", Impact, monospace;
    letter-spacing: 1px;
    z-index: 10;
    border-bottom: solid var(--nav-bar-border) 2px;
}
ul{
    list-style: none;
}

.backGround {
    background-image: url("../images/graphics/urf_color.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}




/*================================ Nav Bar =================================*/

.navButtonList {
    display: flex;
    justify-content: space-around;
    width: 20%;
}
.navButtonList li{
    list-style: none;
}
.navButtonList a {
    font-size: 20px;
    color: var(--text-lighter);
    text-decoration: none;
}
.nav-links-size {
    height: 6vh;
    width: 9.5rem;
    min-width: 8rem;
}

#siteNavigation {
    width: 50%;
    height: 6vh;
    justify-content: center;
}
#navigationDiv {
    width: 60%;
    display: flex;
    position: absolute;
    left: 0;
}
#cornerPiece {
    transform: translateX(0);
}
#cornerPieceColor {
    background: var(--link-color1);
    height: 6vh;
    width: 3rem;
}
#topButton {
    margin-left: 0;
    width: 8rem;
}


    /*=============================================================================*/


.color {
    background: var(--green);
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    height: 200px;
}
.logo{
    text-align: center;
    height: 100vh;
}
#logoDiv {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 80%;
    margin: auto;
    min-width: 800px;
}


/*=================================== Interactive Container =====================================*/

#grayBox {
    display: flex;
    flex-direction: column;
    width: 1200px;
}

.interactiveContainer {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
    width: 1150px;
}
.boxInContainer {
    width: 1100px;
    background: var(--box-transparency);
    margin: 2rem auto 2rem;
}

/*============================Buttons in Interactive Container ===============================*/

.build-options {
    width: 90%;
    margin: 2rem auto 2rem;
    display: flex;
    flex-direction: row;
}
#optionButtons {
    width: 50%;
    display: flex;
    flex-direction: column;
}
#goDiv {
    display: flex;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
}
#goButton {
    border-radius: 0.5em;
    font-size: 4rem;
    padding: 2rem 4rem;
}
#selectionButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0 0 0;
}
#resetDiv {
    width: 50%;
    display: flex;
    justify-content: center;
}

#resetButton {
    border-radius: 0.75em;
    padding: 1rem;
    width: 100px;
}

#roleDiv {
    width: 50%;
    display: flex;
}
#roleButtonRow {
    display: flex;
    align-self: flex-end;
    text-align: center;
}
#roleButtonRow div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--button-color2);
    border: solid var(--build-item-border) 2px;
    margin: 2px;
}
#roleButtonRow img {
    width: 34px;
    height: 34px;
}


/*=================================== Champion List ==================================*/
.champion-list-bg {
    width: 500px;
    background: var(--box-transparency);
    margin: 1rem;
    padding: 1rem;
}
#championList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#championList li {
    display: block;
    margin: 1px;
}
#championList img {
    width: 60px;
    height: 60px;
    padding: 1px;
    border: solid rgb(106, 93, 49) 1px;
    background: rgb(19, 34, 37);
}






/*=========================== Button Styling ===========================*/

.skewed-btn {
    -ms-transform: skewX(-20deg); /* IE 9 */
    -webkit-transform: skewX(-20deg); /* Safari */
    transform: skewX(-20deg);
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    position: relative;

}
.skewed-btn-text {
    -ms-transform: skewX(20deg); /* IE 9 */
    -webkit-transform: skewX(20deg); /* Safari */
    transform: skewX(20deg);
    background: transparent;
    display: inline-block;
    color: var(--text-lighter);

}

.color-btn {
    color: var(--text-lighter);
    background-image: linear-gradient(to right, var(--button-color1) 0%, var(--button-color2) 100%);
    outline: none;
    padding: 5px 10px;
    border-color: var(--yellow);
}
.color-btn:hover {
    background-position: right center;
}
.color-btn:active {
    border-color: var(--yellow);
    transition: 50ms;
}
.color-link {
    background-image: linear-gradient(to right, var(--link-color1) 0%, var(--link-color2) 100%);
    outline: none;
    padding: 5px 10px;
    height: 100%;
}
.center-link {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 1.5rem;
}

.link-button {
    display: block;
    font-size: 20px;
    outline: none;
    position: relative;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    padding: 5px;
}
.link-button:before {
    content: '';
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.link-button:hover:before {
    border-bottom: 4px solid var(--link-highlight);
    width: 100%;
    padding: 0;
}
.link-button:active {
    color: rgba(255, 255, 255, 1);
    -webkit-transition: none;
    transition: none;
}

div button {
    -webkit-transform: scale(1.0);
    -webkit-transition: 0.15s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0.1s;
}
div button:hover {
    -webkit-transform: scale(1.05);
    -webkit-transition: 0.15s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0s;
}

.loginButtons {
    background: var(--login-btn-bg);
    border-radius: 0.75em;
    border-color: var(--login-btn-border);
    color: var(--text-lighter);
    padding: 1rem;
    outline: none;
}

/*=============================== Build Box ==================================*/

#buildBox {
    background: rgba(255,255,255,.2);
    padding: 1rem 0;
}
#buildMainColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#buildFirstDiv {
    position: relative;
}
#buildNameDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#buildNameBackground {
    border: solid var(--build-border) 3px;
    background: var(--build-bg);
    padding: 1rem 2rem;
}
#buildCopyDiv {
    position: absolute;
    right: 10%;
    margin: 1rem 2rem;
}
#buildCopyButton {
    color: var(--text-lighter);
    background-image: linear-gradient(to right, var(--button-color1) 0%, var(--button-color2) 100%);
    outline: none;
    padding: 0.75rem 1.5rem;
    border-color: var(--yellow);
    border-radius: 0.75rem;
}

#buildSecondDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#buildSelectedChampionDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem 1rem 0;
}
.selected-champion-image-size {
    height: 146px;
    width: 146px;
}
.selected-champion-background {
    border: solid var(--build-border) 3px;
    background: var(--build-bg);
    padding: 10px;
}
#buildLoadoutDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
}
#buildLoadoutFirstRowDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3rem 1rem;
    padding: 0 6rem;
}

#buildItemRowDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 1rem 2rem;
    border: solid var(--build-border) 4px;
    background: var(--build-bg);
}
.square-icon-image-size {
    height: 74px;
    width: 74px;
}
.items-item-background {
    border: solid rgb(106, 93, 49) 3px;
    background: var(--build-item-bg);
    padding: 2px;
}
.build-arrow-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
}

#buildLoadoutSecondRowDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#buildRuneDiv {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: solid var(--build-border) 4px;
    padding: 1rem;
    background: var(--build-bg);

}
.buildRuneSecondDiv {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#buildRuneKeystoneDiv {
    width: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 0.5rem;
}

#buildRuneKeystoneImage {
    height: 147px;
    width: 147px;
}

#buildRuneMainRuneDiv {
    margin: 0 0.5rem;
}
#buildRuneSecondaryRuneDiv {
    margin: 0 0.5rem;
}
.rune-image-size {
    height: 74px;
    width: 74px
}
#buildRuneStatBuffDiv {
    margin: 0 0.5rem;
}

.keystone-background {
    border: solid var(--build-border) 3px;
    border-radius: 10em;
    background: var(--build-item-bg);
    padding: 1rem;
}

.runes-background {
    display: flex;
    flex-direction: column;
    border: solid var(--runes-border) 2px;
    padding: 4px;
    border-radius: 4em;
    background: var(--runes-bg);
}
.runes-item-background {
    border: solid var(--build-item-border) 3px;
    border-radius: 4em;
    background: var(--build-item-bg);
    padding: 2px;
    margin: 2px;
}
.stat-buff-background {
    display: flex;
    flex-direction: column;
    border: solid var(--runes-border) 2px;
    padding: 6px;
    border-radius: 2em;
    background: var(--runes-bg);
}
.stat-buff-item-background {
    border: solid rgb(106, 93, 49) 2px;
    border-radius: 4em;
    background: var(--build-item-bg);
    margin: 2px;
}

#buildSkillDiv {
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
#buildSkillSecondDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid var(--build-border) 4px;
    background: var(--build-bg);
    padding: 1rem;

}


#buildSummonerSpellsDiv {
    width: 94px;
    height: 94px;
    position: relative;
    margin: 0 0 0 1rem;
}
#buildFirstSummonerSpell {
    position: absolute;
    top: 0;
    left: 0;
}
#buildSecondSummonerSpell {
    position: absolute;
    bottom: 0;
    right: 0;
}
.summoner-spell-image-size {
    width: 55px;
    height: 55px;
}
.summoner-spells-item-background {
    border: solid var(--build-item-border) 3px;
    background: var(--build-item-bg);
    padding: 2px;
}
/*
#buildSkillsDiv {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#buildSkillsSecondDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid rgb(80, 72, 38) 4px;
    padding: 2rem 1rem;
    background: rgb(19, 34, 37);

}

 */
.skills-item-background {
    border: solid var(--build-item-border) 3px;
    background: var(--build-item-bg);
    padding: 2px;
}


















