*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --green: rgb(19, 34, 37);
    --yellow: rgb(106, 93, 49);
    --gray: #1c1f22;
    --purple: rgb(56, 52, 113);
    --text: rgba(255, 255, 255, .8);
    --text-lighter: rgba(255, 255, 255, .9);
    --box-bg: rgba(255,255,255,.15);
    --box-border: rgb(80, 72, 38);
    --nav-bar-color1: black;
    --nav-bar-color2: rgb(56, 52, 113);
    --nav-bar-border: rgb(106, 93, 49);
    --box-transparency: rgba(255,255,255,.2);
    --box-dark-bg: rgb(10, 25, 25);
    --button-color1: rgb(19, 60, 37);
    --button-color2: rgb(28 ,40, 34);
    --link-color1: #1c1f22;
    --link-color2: #121212;
    --link-highlight: rgb(0,191,255);
    --login-btn-bg: rgb(14, 56, 107);
    --login-btn-border: rgb(32, 181, 252);
    --build-border: rgb(80, 72, 38);
    --build-bg: rgb(19, 34, 37);
    --build-item-border: rgb(106, 93, 49);
    --build-item-bg: black;
    --runes-bg: rgb(10, 25, 25);
    --runes-border: black;
}

html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: var(--text);
    scroll-behavior: smooth;
    scroll-padding-top: 6vh;
}
nav{
    width: 100%;
    min-height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    font-family: "poppins", Impact, monospace;
    letter-spacing: 1px;
    border-bottom: solid var(--nav-bar-border) 2px;
    background: linear-gradient(to right, var(--nav-bar-color1) 60%, var(--nav-bar-color2) 100%);

}
ul{
    list-style: none;
}
.background {
    background-image: url("../images/graphics/urf_color.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


/*================================ Nav Bar =================================*/

.corner-piece-style {
    background: var(--link-color1);
    height: 6vh;
    width: 3rem;
}
.navigation-div {
    width: 60%;
    display: flex;
    position: absolute;
    left: 0;
}
.nav-links-size {
    height: 6vh;
    width: 9.5rem;
    min-width: 8rem;
}

.nav-button-list {
    display: flex;
    justify-content: space-around;
    width: 20%;
}
.nav-button-list li{
    list-style: none;
}
.nav-button-list a {
    font-size: 20px;
    color: var(--text-lighter);
    text-decoration: none;
}


    /*=============================================================================*/

.box {
    width: 80%;
    margin: auto;
    min-width: 800px;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fill-screen{
    height: 100vh;
}
#logoDiv {
    height: 100%;
}


/*========================================== Interactive Container =============================================*/

.gray-box {
    display: flex;
    flex-direction: column;
    width: 1200px;
    background: var(--green);
}
.interactive-container {
    text-align: center;
    padding: 2rem 0;
    margin: auto;
    width: 1150px;
}
.boxInContainer {
    width: 1100px;
    background: var(--box-bg);
    border: solid var(--box-border) 3px;
    margin: 2rem auto 2rem;
}
#info {
    margin: 2rem;
    height: 200px;
}


/*=================================== Buttons in Interactive Container ======================================*/

.build-options {
    width: 90%;
    margin: 1rem auto 0;
    align-items: center;
}
.info-div {
    width: 90%;
    background: var(--box-bg);
    margin: 2rem auto;
}
.info {
    width: 100%;
}
.option-buttons {
    width: 50%;
    margin: 1rem 0 0 0;
    padding: 1rem;
    border: solid var(--box-border) 3px;
    background: var(--box-bg);
}
.role-button-bg {
    background: var(--button-color2);
    border: solid var(--build-item-border) 2px;
    margin: 2px;
}
.role-button-image-size {
    width: 34px;
    height: 34px;
}
#goButton {
    border-radius: 0.5em;
    font-size: 4rem;
    padding: 2rem 4rem;
}
#selectionButtons {
    margin: 2rem 0 0 0;
}
#resetDiv {
    width: 50%;
}
#resetButton {
    border-radius: 0.75em;
    padding: 1rem;
    width: 100px;
}
#roleDiv {
    width: 50%;
}


/*================================================= Champion List ================================================*/

.champion-list-bg {
    background: var(--box-bg);
    border: solid var(--box-border) 3px;
    margin: 1rem;
    padding: 1rem;
}
#championList {
    flex-wrap: wrap;
}
#championList li {
    display: block;
    padding: 0 1px;
}
#championList img {
    width: 60px;
    height: 60px;
    padding: 1px;
    border: solid var(--build-item-border) 1px;
    background: black;
}






/*============================================== Button Styling ==============================================*/

.skewed-btn {
    -ms-transform: skewX(-20deg); /* IE 9 */
    -webkit-transform: skewX(-20deg); /* Safari */
    transform: skewX(-20deg);
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    position: relative;
}
.skewed-btn-text {
    -ms-transform: skewX(20deg); /* IE 9 */
    -webkit-transform: skewX(20deg); /* Safari */
    transform: skewX(20deg);
    background: transparent;
    display: inline-block;
    color: var(--text-lighter);
}
.color-btn {
    color: var(--text-lighter);
    background-image: linear-gradient(to right, var(--button-color1) 0%, var(--button-color2) 100%);
    outline: none;
    padding: 5px 10px;
    border-color: var(--yellow);
}
.color-btn:hover {
    background-position: right center;
}
.color-btn:active {
    border-color: var(--yellow);
    transition: 50ms;
}
.color-link {
    background-image: linear-gradient(to right, var(--link-color1) 0%, var(--link-color2) 100%);
    outline: none;
    padding: 5px 10px;
    height: 100%;
}
.center-link {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 1.5rem;
}
.link-button {
    display: block;
    font-size: 20px;
    outline: none;
    position: relative;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    padding: 5px;
}
.link-button:before {
    content: '';
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.link-button:hover:before {
    border-bottom: 4px solid var(--link-highlight);
    width: 100%;
    padding: 0;
}
.link-button:active {
    color: rgba(255, 255, 255, 1);
    -webkit-transition: none;
    transition: none;
}
.login-buttons {
    background: var(--login-btn-bg);
    border-radius: 0.75em;
    border-color: var(--login-btn-border);
    color: var(--text-lighter);
    padding: 1rem;
    outline: none;
}
div button {
    -webkit-transform: scale(1.0);
    -webkit-transition: 0.15s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0.1s;
}
div button:hover {
    -webkit-transform: scale(1.05);
    -webkit-transition: 0.15s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0s;
}


/*============================================ Build Box ===================================================*/

#buildBox {
    padding: 1rem 0;
}
.build-sub-box-style {
    border: solid var(--build-border) 3px;
    background: var(--build-bg);
}
.build-square-background {
    border: solid var(--build-item-border) 3px;
    background: var(--build-item-bg);
    padding: 2px;
}
.keystone-background {
    border: solid var(--build-border) 3px;
    border-radius: 10em;
    background: var(--build-item-bg);
    padding: 1rem;
}
.runes-background {
    border: solid var(--runes-border) 2px;
    border-radius: 4em;
    background: var(--runes-bg);
    padding: 4px;
}
.selected-champion-image-size {
    height: 146px;
    width: 146px;
}
.square-icon-image-size {
    height: 74px;
    width: 74px;
}
.keystone-image-size {
    height: 147px;
    width: 147px;
}
.rune-image-size {
    height: 74px;
    width: 74px
}
.summoner-spell-image-size {
    width: 55px;
    height: 55px;
}
.build-button {
    color: var(--text-lighter);
    background-image: linear-gradient(to right, var(--button-color1) 0%, var(--button-color2) 100%);
    outline: none;
    padding: 0.75rem 1.5rem;
    border-color: var(--yellow);
    border-radius: 0.75rem;
}
.runes-item-background {
    border: solid var(--build-item-border) 3px;
    border-radius: 4em;
    background: var(--build-item-bg);
    padding: 2px;
    margin: 2px;
}
.stat-buff-background {
    border: solid var(--runes-border) 2px;
    border-radius: 2em;
    background: var(--runes-bg);
    padding: 6px;
}
.stat-buff-item-background {
    border: solid rgb(106, 93, 49) 2px;
    border-radius: 4em;
    background: var(--build-item-bg);
    margin: 2px;
}
#buildFirstDiv {
    position: relative;
}
#buildNameDiv {
    align-items: center;
}
#buildNameBackground {
    padding: 1rem 2rem;
}
#buildButtonDiv {
    position: absolute;
    right: 0;
    margin: 1rem 2rem;
}
#buildInput {
    visibility: hidden;
    position: absolute;
}
#buildSecondDiv {
    width: 100%;
}
#buildSelectedChampionDiv {
    margin: 0 2rem 0 0;
}
#buildSelectedChampion {
    padding: 10px;
}
#buildLoadoutDiv {
    width: 100%;
    padding: 0.5rem;
}
#buildLoadoutFirstRowDiv {
    width: 100%;
    margin: 2rem 1rem;
    padding: 0 6rem;
}
#buildItemRowDiv {
    width: 100%;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 1rem 2rem;
}
#buildLoadoutSecondRowDiv {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}
#buildRuneDiv {
    height: 100%;
    justify-content: space-evenly;
    padding: 1rem;
}
#buildRuneMainRuneDiv, #buildRuneSecondaryRuneDiv, #buildRuneStatBuffDiv {
    height: 100%;
}
#buildRuneKeystoneDiv {
    margin: 0 1rem 0 0.5rem;
}
#buildRuneMainRuneDiv, #buildRuneSecondaryRuneDiv, #buildRuneStatBuffDiv {
    margin: 0 0.5rem;
}
#buildSkillDiv {
    height: 100%;
}
#buildSkillSecondDiv {
    padding: 1rem;
}
#buildSummonerSpellsDiv {
    width: 94px;
    height: 94px;
    position: relative;
    margin: 0 0 0 1rem;
}
#buildFirstSummonerSpell {
    position: absolute;
    top: 0;
    left: 0;
}
#buildSecondSummonerSpell {
    position: absolute;
    bottom: 0;
    right: 0;
}

















