*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --green: rgb(19, 34, 37);
    --light-green: rgb(54, 67, 69);
    --dark-green: rgb(10, 25, 25);
    --yellow: rgb(106, 93, 49);
    --gray1: #1c1f22;
    --gray2: #121212;
    --purple: rgb(56, 52, 113);
    --red: rgb(112, 0, 6);
    --black: black;
    --black60: rgba(0, 0, 0, .6);
    --white80: rgba(255, 255, 255, .8);
    --white90: rgba(255, 255, 255, .9);
    --white15: rgba(255, 255, 255, .15);
    --blue1: rgb(14, 56, 107);
    --blue2: rgb(14, 40, 80);
    --blue-border: rgb(32, 181, 252);
    --highlight: rgb(0, 191, 255);
    --border: rgb(80, 72, 38);
    --light-border: rgb(106, 93, 49);
    --button-bg1: rgb(19, 60, 37);
    --button-bg2: rgb(28 ,40, 34);
}

html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: var(--white80);
    scroll-behavior: smooth;
    scroll-padding-top: 6vh;
}
nav{
    width: 100%;
    min-height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 50;
    font-family: "poppins", Impact, monospace;
    letter-spacing: 1px;
    border-bottom: solid var(--light-border) 2px;
    background: linear-gradient(to right, var(--black) 60%, var(--purple) 100%);

}
ul{
    list-style: none;
}
.background {
    background-image: url("../images/graphics/urf_color.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


/*================================ Nav Bar =================================*/

.corner-piece-style {
    background: var(--gray1);
    height: 6vh;
    width: 3rem;
    cursor: pointer;
}
.navigation-div {
    width: 60%;
    display: flex;
    position: absolute;
    left: 0;
}
.nav-links-size {
    height: 6vh;
    width: 9.5rem;
    min-width: 8rem;
}
.pageTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    outline: none;
    background-color: var(--green);
    border: solid var(--yellow) 2px;
    box-shadow: 6px 6px 20px -4px rgba(0, 0, 0, 1);
    color: var(--white90);
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 18px;
}
.pageTopButton:hover {
    background-color: var(--light-green);
}

.profile-container {
    position: relative;
    width: 20%;
}
.profile-icon-div {
    cursor: pointer;
}
.profile-icon {
    width: 64px;
    height: 64px;
}
.profile-dropdown {
    display: none;
    width: 200px;
    height: 150px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
    background: var(--gray1);
    border: solid var(--border) 3px;
    padding: 10px;
}

.drop-down {
    animation: drop-down 0.2s linear;
}
@keyframes drop-down {
    0%{
        opacity: 0;
        height: 80px;
    }
    100% {
        opacity: 1;
        height: 150px;
    }
}


    /*=============================================================================*/

.box {
    margin: auto;
    min-width: 800px;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fill-screen{
    height: 106vh;
    width: 100%;
}
.spacer {
    height: 300px;
}
#logoDiv {
    height: 100%;
}

/*============================================= Login Popup =====================================================*/

.login-popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: var(--black60);
}
.register-popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: var(--black60);
}
.login-popup-bg {
    height: 300px;
    width: 600px;
    position: relative;
    border: solid var(--border) 4px;
    border-radius: 5px;
    background: var(--gray1);
}
.login-popup-content {
    width: 50%;
    margin: 2rem 0 0;
}
.popup-input {
    width: 100%;
    display: block;
    margin: 5px auto;
    padding: 8px;
    border: solid grey 1px;
}
.password-div {
    position: relative;
}
.password-div span img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    cursor: pointer;
}
.eye-cross {
    display: none;
    width: 5px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 14px;
    background: black;
    border-right: solid white 2px;
    content: "";
    cursor: pointer;
    transform: translate(-50%, -50%) rotate(45deg);
}
.popup-button {
    background: var(--blue1);
    border-color: var(--blue-border);
    border-radius: 5px;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, .75);
    color: var(--white90);
    padding: 10px 15px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
.popup-button:hover {
    background: white;
    color: var(--blue1);
}
.close-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.close-button-x-color {
    width: 38px;
    height: 38px;
    position: absolute;
    right: -15px;
    top: -15px;
    border: solid var(--border) 5px;
    border-radius: 50%;
    background: var(--highlight);
}

/*========================================== Interactive Container =============================================*/

.green-box {
    display: flex;
    flex-direction: column;
    width: 1200px;
    background: var(--green);
    border: solid var(--border) 1px;
    border-bottom: none;
    padding-bottom: 200px;
}
.green-box-borders {
    border: solid var(--light-border) 3px;
    border-bottom: none;
}
.interactive-container {
    text-align: center;
    padding: 2rem 0;
    margin: auto;
    width: 1150px;
}
.boxInContainer {
    width: 1100px;
    background: var(--white15);
    border: solid var(--border) 3px;
    margin: 2rem auto 2rem;
}
#info {
    margin: 2rem;
    height: 200px;
}


/*=================================== Buttons in Interactive Container ======================================*/

.build-options {
    width: 90%;
    margin: 1rem auto 0;
    align-items: center;
}
.info-div {
    width: 90%;
    background: var(--white15);
    margin: 2rem auto;
}
.info {
    width: 100%;
}
#buildBCopyButton {
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, .6);
    padding: 0.75rem 1.5rem;
}
.build-input {
    opacity: 0;
    position: absolute;
}
.role-button-bg {
    background: var(--button-bg2);
    border: solid var(--light-border) 2px;
    margin: 2px;
}
.role-img {
    width: 34px;
    height: 34px;
    padding: 1px;
    background: var(--dark-green);
    border: solid var(--light-border) 1px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
.role-toggle {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 34px;
    margin: 2px;
}
.role-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    cursor: pointer;
}
.role-checkbox:checked + .role-img {
    opacity: 0.3;
}
.role-buttons {
    padding: 1rem;
    border: solid var(--border) 3px;
    border-bottom: none;
    background: linear-gradient(to bottom, rgb(45,45,45) 0%, var(--light-green) 90%);
}
.go-div {
    margin: 0 4rem;
    padding: 1rem 2rem;
    border: solid var(--border) 3px;
    border-bottom: none;
    background: linear-gradient(to bottom, rgb(45,45,45) 0%, var(--light-green) 90%);
}
.selection-buttons {
    margin: 0 0 1rem 0;
}
.reset-div {
    margin: 0 0 0 0.5rem;
}
#goButton {
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, .75);
    border-radius: 8px;
    font-size: 2rem;
    font-weight: bolder;
    padding: 1.5rem 3rem;
}
#resetButton {
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, .75);
    border-radius: 5px;
    padding: 0.5rem;
    width: 80px;
}



/*================================================= Champion List ================================================*/

.champion-list-bg {
    background: var(--white15);
    border: solid var(--border) 3px;
    margin: 0 0 1rem;
    padding: 1rem;
}
#championList {
    flex-wrap: wrap;
}
#championList li {
    display: block;
    margin: 1px 2px;
}

.champion-img {
    width: 62px;
    height: 62px;
    padding: 2px;
    border: solid var(--light-border) 1px;
    background: black;
    position: relative;
    cursor: pointer;
}
.champion-toggle {
    position: relative;
    display: inline-block;
    width: 62px;
    height: 62px;
    cursor: pointer;
}
.champion-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}
.champion-checkbox:checked + .champion-img {
    opacity: 0.2;
}
.champion-highlight {
    border: solid var(--blue2) 1px;
    background: var(--highlight);
}

.champion-search-bg {
    border: solid var(--border) 3px;
    border-bottom: 0;
    background-color: var(--light-green);
    transform: translateY(3px);
    padding: 10px 20px;
}
.champion-search {
    display: block;
    margin: 20px 10px;
    padding: 8px;
    border: solid grey 1px;
}
#championReset {
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, .75);
    padding: 0.5rem;
    width: 80px;
    font-size: 14px;
}



/*============================================== Tooltips ====================================================*/

.champion-toggle span {
    position: absolute;
    left: 50%;
    top: -35px;
    transform: translate(-50%);
    background: black;
    color: white;
    padding: 5px 6px;
    text-align: center;
    white-space: nowrap;
    border-radius: 5px;
    opacity: 0;
    transition: 0.6s opacity;
    z-index: -1;
    pointer-events: none;
}
.champion-toggle span:before {
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    background: black;
    z-index: -1;
    content: "";
    transform: translateX(-50%) rotate(45deg);
}
.champion-toggle:hover > span {
    opacity: 1;
    z-index: 1;
}

/*============================================== Button Styling ==============================================*/

.skewed-btn {
    transform: skewX(-20deg);
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.skewed-btn-text {
    transform: skewX(20deg);
    background: transparent;
    display: inline-block;
    color: var(--white90);
}
.color-btn {
    color: var(--white90);
    background-image: linear-gradient(to right, var(--button-bg1) 0%, var(--button-bg2) 100%);
    border-color: var(--yellow);
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
}
.color-btn:hover {
    background-position: right center;
}
.color-btn:active {
    border-color: var(--yellow);
    transition: 50ms;
}
.color-link {
    background-image: linear-gradient(to right, var(--gray1) 0%, var(--gray2) 100%);
    outline: none;
    padding: 5px 10px;
    height: 100%;
}
.center-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 1.5rem;
}
.link-button {
    display: block;
    font-size: 20px;
    outline: none;
    position: relative;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    padding: 5px;
}
.link-button:before {
    content: '';
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    transition: 0.2s;
}
.link-button:hover:before {
    border-bottom: 4px solid var(--highlight);
    width: 100%;
    padding: 0;
}
.link-button:active {
    color: rgba(255, 255, 255, 1);
    transition: none;
}
.login-buttons {
    background: linear-gradient(to right, var(--blue1) 0, var(--blue2) 100%);
    border-color: var(--blue-border);
    border-radius: 5px;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, .75);
    color: var(--white90);
    outline: none;
    cursor: pointer;
    padding: 1rem;
    margin: 4px;
}
.btn-animation {
    -webkit-transform: scale(1.0);
    -webkit-transition: 0.15s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0.1s;
}
.btn-animation:hover {
    -webkit-transform: scale(1.05);
    -webkit-transition: 0.15s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0s;
}
.green-button-bg {
    background: linear-gradient(to right, var(--button-bg1) 0%,  var(--button-bg2) 100%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.green-button {
    width: 100%;
    color: var(--white90);
    background-color: transparent;
    border-color: var(--border);
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, .6);
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.2s ease;
}
.green-button:hover {
    background-color: rgba(255, 255, 255, .07);
    border-color: var(--light-border);
    color: white;
    transition: background-color 0.2s ease;
}


/*============================================== Tabs ======================================================*/


.tab-row {
    justify-content: center;
}
.tab-container-1 {
    width: 25%;
    align-self: flex-end;

}
.tab-container-2 {
    width: 40%;
    align-self: flex-end;
}
.tab-div {
    background-color: var(--dark-green);
    transform: translateY(3px);
}
.tab-div button {
    float: left;
    outline: none;
    cursor: pointer;
    color: var(--white90);
    background-color: var(--dark-green);
    border: solid var(--border) 3px;
    padding: 1rem 2rem;
    transition: 0.3s;
}
.tab-div button:hover {
    background: linear-gradient(to bottom, var(--gray1) 0%, var(--gray2) 100%);
}
.tab-div button.active {
    background: linear-gradient(to bottom, rgb(45,45,45) 0%, var(--light-green) 90%);
    border-bottom: none;
}
.tab-text {
    font-family: "poppins", Impact, monospace;
    letter-spacing: 1px;
    font-size: 20px;
    text-decoration: none;
    color: var(--white90);
    text-transform: uppercase;
}
.tab-content {
    display: none;
}
div.tab-div > button:first-child {
    border-right: none;
}

/*============================================ Build Box ===================================================*/

#buildBox {
    background: linear-gradient(to right, var(--light-green) 0%, var(--dark-green) 40%, var(--dark-green) 60%, var(--light-green) 100%);
    margin: 0 auto;
    padding: 1rem 0;
}
.build-sub-box-style {
    border: solid var(--border) 3px;
    background: var(--green);
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, .75);
}
.build-square-background {
    border: solid var(--light-border) 3px;
    background: var(--black);
    padding: 2px;
}
.build-role-div {
    position: absolute;
    top: 0;
    left: -10px;
    transform: translate(-100%, -1px);
    height: 66px;
    width: 66px;
    border: solid var(--border) 3px;
    background: var(--green);
}
.build-role-image {
    height: 50px;
    width: 50px;
}
.keystone-background {
    border: solid var(--border) 3px;
    border-radius: 10em;
    background: var(--black);
    padding: 1rem;
}
.runes-background {
    border: solid var(--black) 2px;
    border-radius: 4em;
    background: var(--dark-green);
    padding: 4px;
}
.selected-champion-image-size {
    height: 146px;
    width: 146px;
}
.square-icon-image-size {
    height: 74px;
    width: 74px;
}
.keystone-image-size {
    height: 147px;
    width: 147px;
}
.rune-image-size {
    height: 74px;
    width: 74px
}
.summoner-spell-image-size {
    width: 55px;
    height: 55px;
}
.runes-item-background {
    border: solid var(--light-border) 3px;
    border-radius: 50%;
    background: var(--black);
    padding: 2px;
    margin: 2px;
}
.stat-buff-background {
    border: solid var(--black) 2px;
    border-radius: 2em;
    background: var(--dark-green);
    padding: 6px;
}
.stat-buff-item-background {
    border: solid rgb(106, 93, 49) 2px;
    border-radius: 50%;
    background: var(--black);
    margin: 2px;
}
#buildFirstDiv {
    width: 100%;
    position: relative;
}
#buildNameDiv {
    position: relative;
    height: 4rem;
}
#buildNameBackground {
    padding: 15px 2rem 16px;
}
#buildButtonDiv {
    position: absolute;
    right: 0;
    margin: 1rem 2rem;
}
#buildSecondDiv {
    width: 100%;
}
#buildSelectedChampionDiv {
    margin: 0 2rem 0 0;
}
#buildSelectedChampion {
    padding: 10px;
}
#buildLoadoutDiv {
    width: 100%;
    padding: 0.5rem;
}
#buildLoadoutFirstRowDiv {
    width: 100%;
    margin: 2rem 1rem;
    padding: 0 6rem;
}
#buildItemRowDiv {
    width: 100%;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 1rem 2rem;
}
#buildLoadoutSecondRowDiv {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}
#buildRuneDiv {
    height: 100%;
    justify-content: space-evenly;
    padding: 1rem;
}
#buildRuneMainRuneDiv, #buildRuneSecondaryRuneDiv, #buildRuneStatBuffDiv {
    height: 100%;
}
#buildRuneKeystoneDiv {
    margin: 0 1rem 0 0.5rem;
}
#buildRuneMainRuneDiv, #buildRuneSecondaryRuneDiv, #buildRuneStatBuffDiv {
    margin: 0 0.5rem;
}
#buildSkillDiv {
    height: 100%;
}
#buildSkillSecondDiv {
    padding: 1rem;
}
#buildSummonerSpellsDiv {
    width: 94px;
    height: 94px;
    position: relative;
    margin: 0 0 0 1rem;
}
#buildFirstSummonerSpell {
    position: absolute;
    top: 0;
    left: 0;
}
#buildSecondSummonerSpell {
    position: absolute;
    bottom: 0;
    right: 0;
}

/*========================================== Team Box =======================================*/

.team-box {
    margin: 0 auto;
    padding: 0;
}
div.team-box > div.team-build-container:first-child, div.team-build-container:first-child > div.team-build-container-background {
    border-top: none;
}
div.team-box > div.team-build-container:last-child, div.team-build-container:last-child > div.team-build-container-background {
    border-bottom: none;
    margin: 0;
}
.team-build-container {
    border-top: solid var(--light-border) 1px;
    border-bottom: solid var(--light-border) 1px;
    margin: 0 0 2px 0;
}
.team-build-container-background {
    position: relative;
    width: 100%;
    height: 200px;
    background: linear-gradient(to right, var(--light-green) 0%, var(--dark-green) 50%, var(--light-green) 100%);
    border-top: solid var(--border) 3px;
    border-bottom: solid var(--border) 3px;
}
.add-build-input {
    margin-top: 8px;
    padding: 8px;
    border: solid grey 1px;
}
.build-close-button {
    width: 36px;
    height: 36px;
    cursor: pointer;
}
.build-close-button-x-color {
    width: 28px;
    height: 28px;
    position: absolute;
    right: 8px;
    top: 0;
    background: var(--blue1);
    box-shadow: 3px 3px 15px -2px rgba(0, 0, 0, .75);
}
.team-build {
    display: none;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: auto;
    position: absolute;
    transform: translateX(-10%);
    opacity: 0;
}
.team-build-idle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: auto;
    position: absolute;
}
.slide-in {
    animation: slide-in 0.5s forwards;
}
.slide-out {
    animation: slide-out 0.5s forwards;
}
.fade-in {
    animation: fade-in 1s forwards;
}
@keyframes slide-in {
    100% {
        transform: translate(0%);
        opacity: 1;
    }
}
@keyframes slide-out {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(15%);
        opacity: 0;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.team-button-div {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 0.75rem;
}
.team-build-button {
    width: 76px;
    height: 50px;
    color: var(--white90);
    background-image: linear-gradient(to right, var(--button-bg1) 0%, var(--button-bg2) 100%);
    border-color: var(--yellow);
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, .75);
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.team-build-button:hover {
    background: linear-gradient(to bottom, var(--gray1) 0%, var(--gray2) 100%);
}
.team-champion-box-style {
    border: solid var(--border) 2px;
    background: var(--green);
    padding: 4px;
}
.name-skill-div {
    display: flex;
    align-items: flex-end;
    height: 184px;
    position: relative;
    margin: 0 1.5rem;
}
.team-build-name-div {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
.team-player-name {
    max-width: 220px;
    border: solid var(--border) 2px;
    background: var(--green);
    padding: 4px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    font-weight: bolder;
    font-size: 16px;
    margin: 0 0 8px;
}
.team-build-name {
    border: solid var(--border) 2px;
    background: var(--green);
    padding: 4px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    text-decoration: none;
    font-weight: bolder;
    font-size: 14px;
}
.team-skill-box-style {
    border: solid var(--border) 2px;
    background: var(--green);
    padding: 4px 8px;
}
.team-square-icon {
    height: 56px;
    width: 56px;
    margin: 2px 0;
    border: solid var(--light-border) 1px;
    background: var(--black);
    padding: 2px;
}
.team-keystone-background {
    border: solid var(--light-border) 2px;
    border-radius: 10em;
    background: var(--black);
    padding: 6px;
    margin: 4px;
}
.team-role-div {
    align-self: center;
    border: solid var(--border) 2px;
    background: var(--green);
}
.team-role-image {
    height: 42px;
    width: 42px;
}
.team-skill-img {
    align-self: center;
    margin: 2px;
}
.team-summoner-spell-image {
    width: 36px;
    height: 36px;
    margin: 2px 0;
    border: solid var(--light-border) 1px;
    background: var(--black);
    padding: 2px;
}
.team-keystone-image-size {
    height: 100px;
    width: 100px;
}
.team-rune-image {
    height: 54px;
    width: 54px;
    border: solid var(--light-border) 1px;
    border-radius: 50%;
    background: var(--black);
    padding: 1px;
    margin: 2px;
}
.team-stat-buff-image {
    height: 28px;
    width: 28px;
    border: solid rgb(106, 93, 49) 1px;
    border-radius: 50%;
    background: var(--black);
    margin: 2px;
}
.team-champion-div {
    margin: 0 1rem;
}
.team-skill-div {
    margin: 12px;
}
.team-rune-div {
    margin: 0 0 0 0.5rem;
}
.team-item-div {
    align-self: center;
    margin: 0 0 0 6px;
    border: solid var(--border) 2px;
    background: var(--green);
    padding: 8px;
}
.team-champion {
    height: 136px;
    width: 136px;
    padding: 5px;
}
.team-summoner-spell-div {
    margin: 2px;
}
.team-runes-background {
    border: solid var(--border) 2px;
    border-radius: 4em;
    background: var(--dark-green);
    padding: 3px;
    margin: 0 4px;

}
.team-stat-buff-background {
    border: solid var(--border) 2px;
    border-radius: 2em;
    background: var(--dark-green);
    padding: 4px;
    margin: 0 4px;

}








